body {
    margin: 0px;
}

.header {
    height: auto;
    background: url(../img/who_we_are.jpg) center no-repeat;
    background-size: cover;
}

.header__menu {
    display: flex;
    justify-content: center;
}

.nav {
    margin: 0px;
    padding-top: 48px;
}

.nav__link {
    font-family: 'IBM Plex Sans Arabic';
    font-weight: 500;
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: #FFFFFF;
}

.actlink {
    color: #FFFFFF;
    opacity: 60%;
}

.header__phone-number {
    margin-right: 25px;
    color: #F6674D;
}

.header__button {
    margin-left: 25px;
    padding: 8px 24px;
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
    background: #F6674D;
    border: 0;
    border-radius: 20px;
}

.container {
    width: 780px;
    max-width: 1400px;
    margin: 0 auto;
}

.intro {
    margin-top: 78px;
}

.home {
    width: 580px;
    left: 312px;
    top: 150px;
    font-family: 'IBM Plex Sans Arabic';
    font-size: 16px;
    color: #FFFFFF;
    opacity: 50%;
}

.header__title {
    max-width: 1400px;
    margin: 0 auto;
    font-family: 'IBM Plex Sans Arabic';
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 73px;
    color: #FFFFFF;
}

.header__text {
    max-width: 1400px;
    margin-top: 20px;
    padding-bottom: 71px;
    font-family: 'IBM Plex Sans Arabic';
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
}

.content {
    margin-top: 60px;
}

.content__title {
    font-family: 'IBM Plex Sans Arabic';
    font-size: 48px;
}

.specialist-description {
    background: url(../img/middle_block.jpg) center no-repeat;
    background-size: cover;
}

.content__text {
    max-width: 1400px;
    font-family: 'IBM Plex Sans Arabic';
    font-size: 18px;
    line-height: 28px;
}

.testimonials_block {
    background: url(../img/bottom_block.jpg) center no-repeat;
    background-size: cover;
}

.testimonials__wrap-carrs {
    justify-content: center;
    font-family: 'IBM Plex Sans Arabic';
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    color: #FFFFFF;
    display: flex;
    margin-left: 130px;
    margin-right: 130px;
}

.testimonials_card_name {
    font-family: 'IBM Plex Sans Arabic';
    font-weight: 600;
    font-size: 20px;
    line-height: 28, 6px;
    color: #FFFFFF;
}

.testimonials_card {
    margin-left: 30px;
    margin-right: 30px;
    max-width: 340px;
}